/*-- Work Page Styles --*/

.work-main {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-grow: 1;
  margin: 4em;
}

.work-image {
  width: 30vw;
  margin: 2em auto 0 auto;
  height: auto;
  max-width: 300px;
}

.work-title {
  color: aliceblue;
}

.work-text {
  font-family: "Roboto", "Open Sans", "Verdana", "Helvetica", sans-serif;
}

.accent-text {
  color: crimson;
  font-size: 1.5em;
}

.icon-section {
  display: flex;
}

.icon {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  margin: 0.5rem;
  padding: 1rem;
  font-size: 0.9em;
  width: 100px;
  height: 100px;
  background-color: #222;
  border-radius: 9px;
}

.icon.white {
  background-color: #fcfcfc;
  color: #000000;
  -webkit-animation: pulse-white 4s infinite;
}

.icon img {
  width: 40px;
}

.btn {
  background-color: transparent;
  color: #fcfcfc;
  margin: 3vh;
}

.call-to-action {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  /* padding: 0 0 0 3vh;
  margin: 0 auto 0 4em; */
}

.btn-work {
  -webkit-animation: pulse-white 6s infinite;
}

.blanket-party {
  height: 158px;
  width: auto;
  position: relative;
  right: 6vw;
}

@media (max-width: 1300px) {
  .work-main .img-wrapper {
    display: none;
  }

  .work-main {
    flex-direction: column;
    justify-content: center;
    max-width: 80vw;
  }

  .work-main .work-image {
    margin: 1em;
    max-height: 70vh;
    width: auto;
  }

  .brand-logo {
    display: block;
    margin: 0 auto 0 auto;
  }

  .brand-logo,
  .brand-logo-name {
    font-size: 0.8em;
  }

  .footer-nav {
    font-size: 0.5rem;
  }

  footer .wrapper {
    display: flex;
    justify-content: space-evenly;
  }

  .vanish {
    display: none;
  }

  .revealTitle img {
    margin-right: 0.5rem;
  }

  .revealTitle {
    display: block;
    font-size: 1rem;
    text-align: center;
  }

  .link-style {
    font-size: 0.5rem;
  }

  .intro {
    background: #000;
    top: 0;
    left: 0;
    position: fixed;
    width: 100%;
    height: 100%;
    z-index: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 6vh;
  }

  .intro-text {
    color: #fff;
    font-family: "ZenOs", "Roboto", "Open Sans", "Verdana", "Helvetica",
      sans-serif;
    font-weight: 600;
    padding: 1rem;
    font-size: 1em;
  }

  .wrapper {
    padding: 0;
    flex-grow: 1;
  }

  .icon-section {
    display: flex;
  }

  body {
    background-image: none;
  }
}

/* ----------- iPhone 6+, 7+ and 8+ ----------- */

/* Portrait */
@media only screen and (min-device-width: 300px) and (max-device-width: 820px) and (-webkit-min-device-pixel-ratio: 3) and (orientation: portrait) {
  .work-image {
    margin: 2em 1em;
    max-height: 70vh;
    width: auto;
  }

  .btn {
    background-color: transparent;
    color: #fcfcfc;
    margin: 3vh auto;
  }
}

/* ----------- iPad Pro 10.5" ----------- */

/* Portrait and Landscape */
@media only screen and (min-device-width: 834px) and (max-device-width: 1112px) and (-webkit-min-device-pixel-ratio: 2) {
  .work-main {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-grow: 1;
    margin-top: 10em;
  }
}
